<div class="form">
    <form class="form-group" action="/add" method="post">
        <label for="">Title</label>
        <input class="form-control" type="text" name="title">
        <label for="">Artist</label>
        <input class="form-control" type="text" name="creator">
        <label for="">Genre</label>
        <input class="form-control" type="text" name="genres">
        <label for="">Description</label>
        <!-- </br>    -->
        <textarea class="block" name="desc" style="width: 60vw; height: 25vh;"></textarea>
        <label for="">Image link</label>
        <input class="form-control" type="text" name="imagePath">
        <!-- <input class="form-control" type="file" name="imagePath"> -->
        <button class="btn btn-primary add-btn" type="submit"><i class="fas fa-folder-plus"></i></button>
    </form>  
</div>