<div class="form">
    <form class="form-group" action="/creator/add" method="post">
        <h3>Let's add a new creator!</h3>
        <label for="">Name</label>
        <input class="form-control" type="text" name="name">
        <label for="">Age</label>
        <input class="form-control" type="text" name="age">
        <label for="">Description</label>
        <input class="form-control" type="text" name="desc">  
        <label for="">Works</label>
        <input class="form-control" type="text" name="works">        
        <label for="">Image path</label>
        <input class="form-control" type="text" name="imagePath">
        <button class="btn btn-primary" type="submit">Add</button>
    </form>  
</div>