<div class="form">
    <form class="form-group" action="/genre/add" method="post">
        <label for="">Genre</label>
        <input class="form-control" type="text" name="type">
        <label for="">Description</label>
        <input class="form-control" type="text" name="desc">
        <button class="btn btn-primary" type="submit">Add</button>
    </form>  
</div>